.projects {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: relative;
	height: 100%;
	overflow-y: auto;
}

.projects-heading {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5%;
	width: 100%;
}

.project-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-item {
	margin: 32px 0;
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-item > h3 {
	height: 10%;
}

.project-item > img {
	max-width: 97%;
	max-height: 97%;
	min-width: 120px;
	transition: all 0.7s ease;
}

.project-item > img:hover {
	cursor: pointer;
	max-width: 100%;
	max-height: 100%;
	transition: all 0.7s ease;
}

@media only screen and (max-width: 1100px) {S
	.project-item, .projects, .project-grid {
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {
	.project-grid.row-to-col {
		flex-direction: column;
		align-items: center;
	}
	.projects-heading {
		margin-top: 10px;
	}
	.project-item, .projects, .project-grid {
		width: 100%;
	}
}
